[piterjs_meetup_page] {
	flex: 1 1 400px;
}

[piterjs_meetup_page_title] {
	flex: 1000 1 auto;
}

[piterjs_meetup_page_date] {
	padding: .5rem;
	font-weight: normal;
}

[piterjs_meetup_page_speeches] {
	padding: .5rem .75rem;
}
