[piterjs_speech_page] {
	flex: 1000 1000 400px;
}

[piterjs_speech_page_body] {
	padding: .5rem;
}

[piterjs_speech_page_description] {
	box-shadow: none;
}

[piterjs_speech_page_links] {
	margin: -1rem 0 0;
	font-weight: 600;
}

[piterjs_speech_page_links] > * {
	margin: 0;
}
