[piterjs_speech_snippet] {
	display: flex;
	padding: .5rem;
	align-items: flex-start;
}

[piterjs_speech_snippet_photo] {
	width: 6rem;
	margin: .25rem;
}

[piterjs_speech_snippet_info] {
	flex: 16rem 1 1 ;
	padding: .25rem;
}

[piterjs_speech_snippet_title] {
	display: block;
	padding: .25rem;
	font-weight: 600;
}

[piterjs_speech_snippet_addon] {
	display: flex;
}

[piterjs_speech_snippet_speaker_title] {
	padding: .25rem;
	/* color: var(--mol_theme_shade); */
	color: var(--mol_theme_text);
	flex: 1 1 auto;
}

[piterjs_speech_snippet_time] {
	padding: .25rem;
	color: var(--mol_theme_text);
	white-space: nowrap;
}
